<link rel="stylesheet" href="/css/user_signUp.css">

<body>
  <h1 class="main-heading">Soothe Thyself</h1>
 <div class="container">
     <p class="heading">Register</p>
     <div class="box">
      <form action="/users/signIn" method="post">
         <p>Name</p>
         <div>
             <input type="text" name="" id="" placeholder="Enter Your Name">
         </div>
     </div>
     <div class="box">
         <p>Email</p>
         <div>
             <input type="email" name="" id="" placeholder="Enter Your Email">
         </div>
     </div>

     <div class="box">

        <p>Password</p>
        <div>
             <input type="password" name="" id="" placeholder="Enter Your Password">
         </div>
     </div>

     <div class="box">

      <p>Confirm Password</p>
      <div>
           <input type="password" name="" id="" placeholder="Enter Your Password">
       </div>
   </div>

    <br>

     <button class="loginBtn">Register Yourself</button>
         
   </form>
  </div>
</body>