<form action="/users/signUp" method="post">
  <input type="text" placeholder="Enter Name" name="name" id="name" required>
  <input type="email" placeholder="Enter Email" name="email" id="email" required>
  <input type="password" placeholder="Enter Password" name="password" id="password" required>
  <input type="password" placeholder="Confirm Password" name="confirmpassword" id="confirmpassword" required>
  <button type="submit">SignUp</button>
</form>