<form action="/users/signIn" method="post">
    <input type="email" placeholder="Enter Email" name="email" id="email" required>
    <input type="password" placeholder="Enter Password" name="password" id="password" required>
    <button type="submit">SignIn</button>
</form>