@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    background-color: #fff3e7;
    background-color: #f5e4d5;
    background-color: #faf5f0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.main{
    height: 82vh;
}